name: Publish

on:
  push:
    tags:
      - v*

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"

    env:
      UV_PYTHON: ${{ matrix.python-version }}

    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Init
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          python-version: ${{ matrix.python-version }}

      - name: Build
        run: uv build && uv sync --locked --all-extras

      - name: Install `monde`
        run: uv sync --locked --all-extras --dev

      - name: Lint
        run: uv run ruff check

      - name: Test
        run: uv run pytest

      - name: Publish
        run: uv publish